<div id="story">
  The peace of the land of Hi-Rule has been disturbed by an evil presence from the West.<br>Far off in the land of 
  Gerado Plains, the evil Goonan has hatched a plan to steal<br> the powerful artifact of the gods, the QuadForce. He plans
  to use the power of the<br>QuadForce to control all of Hi-Rule and bend it to his will.<br><br>
  Lenk, a brave youngster of the Kokori Forest, must come forth and fulfill his destiny.<br><br>To save Hi-Rule and its people, he must
  defeat Goonan,<br>retrieve the QuadForce, and save the Princess Zilda.
</div>
