#playerStats {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #cccccc;
  font-size: 16px;
  padding: 10px 0px;
}

#canvasContainer {
  position: relative;
  display: flex;
  justify-content: center;
}

#dungeonMap {
  z-index: 0;
  position: absolute;
}

#shadowOverlay {
  background-color: transparent;
  z-index: 1;
  position: absolute;
}