<div id="instructions">
  HOW TO PLAY
  <ul>
    <li>Move Lenk <img src="../assets/Lenk.png"> around with the arrow keys</li>
    <li>Collect new weapons <img src="../assets/Sword.png"> and health potions <img src="../assets/Potion.png"> to help you defeat Goonan's imps <img src="../assets/Imp.png"></li>
    <li>As you defeat imps, you will receive XP which will increase your level</li>
    <li>Find and defeat Goonan <img src="../assets/Goonan.png">, to retrieve the QuadForce, rescue Princess Zilda, and save Hi-Rule!</li>
  </ul>
</div>
